.App {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.inner {
  width: 100%;
}
.inner div {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 10em auto;
}
